{% extends '/base_template/base.html' %}


{% block metakeywords %}
    {{super()}}
{% endblock %}


{% block title %}
    {{super()}}
{% endblock %}


{% block beforehead %}
    {{super()}}
{% endblock %}


{% block content %}
<div class="row">
    <div id="left-block" class="col-md-9">
        <!-- here is the place for left side navigation -->
        <!-- including tags and follow me -->
        {% block left_content %}
        {% endblock %}
    </div>
    <div id="right-block" class="col-md-3 hidden-sm hidden-xs hidden-print" role="complementary">
        <!-- here is the place for blogs -->
<nav class="right-navbar">
    <div id="right-container" class="container-fluid">
        <h3 id="whyuclick">DON'T CLICK ME!</h3>
        <div id="scareu">
            <img id="selfie" class="img-responsive img-circle" src="/static/photos/selfie.jpg">
            <p>&nbsp;&nbsp;Ops! You deserve it!</p>
        </div>
        <div class="right-nav-seperator"></div> 
        <h3>TAGS</h3>
        <ul class="tag-list">
            {% for tag in tags %}
            <li class="tag-item">
                <i class="fa fa-folder-open-o fa-fw" aria-hidden="true"></i>
                <a href="/tags/{{tag.tag_name}}?page=1"> {{tag.tag_name}} ({{tag.count}})</a>
            </li>
            {% endfor %}
        </ul>
        <div class="right-nav-seperator"></div>
        <h3>FRIENDLY LINKS</h3>
        <ul class="tag-list">
            <li class="tag-item">
                <i class="fa fa-external-link fa-fw" aria-hidden="true"></i>
                <a target="_blank" href="http://users.wpi.edu/~szhou2/" title="周少">Shao Zhou</a>
            </li>
            <li class="tag-item">
                <i class="fa fa-external-link fa-fw" aria-hidden="true"></i>
                <a target="_blank" href="http://blog.yyx.me/" title="姚一翔">Yixiang Yao</a>
            </li>
            <li class="tag-item">
                <i class="fa fa-external-link fa-fw" aria-hidden="true"></i>
                <a target="_blank" href="http://dannima.com/" title="马丹妮">Danni Ma</a>
            </li>
        </ul>
        <div class="right-nav-seperator"></div>
        <h3>FOLLOW ME</h3>
        <ul class="tag-list">
            <li class="tag-item">
                <i class="fa fa-instagram fa-fw" aria-hidden="true"></i>
                <a target="_blank" href="https://www.instagram.com/zzhh991" title="照片还都蛮好看的">Instagram</a>
            </li>
            <li class="tag-item">
                <i class="fa fa-weibo fa-fw" aria-hidden="true"></i>
                <a target="_blank" href="http://weibo.com/u/2529909465" title="郑翰同学好震撼">WeiBo</a>
            </li>
            <li class="tag-item">
                <i class="fa fa-linkedin fa-fw" aria-hidden="true"></i>
                <a target="_blank" href="http://www.linkedin.com/in/hanzheng992" title="快来给我的技能点赞吧">LinkedIn</a>
            </li>
            <li class="tag-item">
                <i class="fa fa-github fa-fw" aria-hidden="true"></i>
                <a target="_blank" href="https://github.com/HankerZheng" title="欢迎来关注我的项目">Github</a>
            </li>
        </ul>
    </div>
</nav>

    </div>
</div>
{% endblock %}


{% block funcript %}
<script>
{{super()}}
$(document).ready(function(){
    $('#whyuclick').click(function(){
        $('#scareu').toggle(3000);
    });
});
</script>
{% endblock %}