# Windows:
Thumbs.db
ehthumbs.db
Desktop.ini

# Python:
*.py[cod]
*.so
*.egg
*.egg-info

# log file
log*
config.py

# ignored directory
awesome/backup*
awesome/conf*
awesome/dist*
awesome/log*
awesome/photo*


awesome/www/static/photos/*
awesome/www/test*

fabfile.py