{% extends '/base_template/base.html' %}


{% block metakeywords %}
{% endblock %}


{% block title %}
    {{super()}}
{% endblock %}


{% block beforehead %}
{% endblock %}


{% block content %}
<div class="row">
    <div id="left-block" class="col-md-9">
        <!-- here is the place for left side navigation -->
        <!-- including tags and follow me -->
        {% block left_content %}
        {% endblock %}
    </div>
    <div id="right-block" class="col-md-3 hidden-sm">
        <!-- here is the place for blogs -->
        {% block right_content %}
        {% endblock %}
    </div>
</div>
{% endblock %}


{% block funcript %}
{% endblock %}