/*special color #e68019*/
#content-container{
  padding: 60px 0px 30px 0px;
}
#left-block {
  background-color:transparent; 
}
#right-block{
  border-left: 1px red solid;
  background-color:transparent;
}

/*right block*/
#selfie{
  width: 70%;
}
/*left block*/
.blog-title a {
  color: inherit;
  -webkit-transition: color 0.6s; /* Safari */
  transition: color 0.6s;
}
.blog-title a:hover{
  color: #e68019;
}
.blog-meta{
  color: #939393;
}
.blog-meta a{
  color: #939393;
  -webkit-transition: color 0.6s; /* Safari */
  transition: color 0.6s;
}
.blog-meta a:hover{
  color: #e68019;
}
.blog-summary{
  max-height:500px;
  overflow-y: hidden; 
}
.readmore-btn{
  padding: 5px 6px 5px 9px;
  color: white;
  background: #333333;
  border-radius: 3px;
  -webkit-transition: background 0.6s; /* Safari */
  transition: background 0.6s;
}
.readmore-btn:hover{
  color: white;
  background: #e68019;
}
.meta-seperator{
  width: 80%;
  height: 0px;
  margin-top: 10px;
  border-top: 1px dashed #d3d3d3;
  margin-bottom:35px;
}
.blog-seperator{
  width: 95%;
  height: 0px;
  margin-top: 50px;
  border-top: 1px solid #d3d3d3;
  margin-bottom: 50px;
}
/*pagination*/
#myPagination{
  text-align: center;
}#myPagination a{
  color: #333;
}#myPagination .active > a{
  color: white;
  background-color: #333;
  border-color: #333;
}
/* website icon */
.iconlogo{
  border: 2px;
  border-style: solid;
  border-radius: 3px 20px 3px 12px;
  padding: 3px 3px 3px 7px;
  font-family: Book Antiqua;
  vertical-align:-20%;
  font-variant:small-caps;
  font-size:120%;
  text-rendering: optimizeLegibility;
}
/* back-to-top icon */
.back-to-top {
  color: grey;
  position: fixed;
  bottom: 25px;
  right: 20px;
  -webkit-transition: color 0.6s; /* Safari */
  transition: color 0.6s;
}
.back-to-top:hover{
  cursor: pointer;
  color: #e68019;
}

/* affix-converning */
.affix {
    top: 0;
    width: 100%;
}
.affix + .container-fluid {
    padding-top: 54px;
    z-index: -1
}
.jumbotron {
  text-rendering: optimizeLegibility;
  padding-top: 35px;
  padding-bottom: 20px;
  margin: 0;
  background-color: #E0E0E0;
  height: 300px;
}
.jumbotron:hover #jumbotronName{
  -ms-transform: scale(0.85, 0.85); /* IE 9 */
  -webkit-transform: scale(0.85, 0.85); /* Safari */
  transform: scale(0.85, 0.85);
}
.jumbotron:hover #jumbotronSay{
  -ms-transform: scale(1.25, 1.25); /* IE 9 */
  -webkit-transform: scale(1.25, 1.25); /* Safari */
  transform: scale(1.25, 1.25);
}
.jumbotron:hover #jumbotronSayby{
  -ms-transform: scale(1.05, 1.05); /* IE 9 */
  -webkit-transform: scale(1.05, 1.05); /* Safari */
  transform: scale(1.05, 1.05);
  padding-top:0.4em;
}
#jumbotronName{
  -webkit-transition: transform 1.6s; /* For Safari 3.1 to 6.0 */
  transition: transform 1.6s;
}
#jumbotronSay{
  font-size: 1.2em;
  -webkit-transition: transform 1.6s; /* For Safari 3.1 to 6.0 */
  transition: transform 1.6s;
}
#jumbotronSayby{
  -webkit-transition: transform 1.6s, padding-top 1.6s; /* For Safari 3.1 to 6.0 */
  transition: transform 1.6s, padding-top 1.6s;
}

/* navigation bar */
.navbar {
  border-radius: 0;
  margin-bottom: 0;
  border: 0;
  font-size: 11px !important;
  font-style: bold;
  letter-spacing: 2px;
  min-height: 54px;
}
/*photo gallery*/
.photo-gallery {
  padding:0 0 0 0;
  margin:0 0 40px 0;
  text-align: center;
}
.photo-gallery .photo-item {
  list-style:none;
  padding: 0;
  align-content: center;
  -webkit-transition: transform 0.6s; /* For Safari 3.1 to 6.0 */
  transition: transform 0.6s;
}
.photo-gallery .photo-item:hover {
  z-index: 1;
  -ms-transform: scale(1.2, 1.2); /* IE 9 */
  -webkit-transform: scale(1.2, 1.2); /* Safari */
  transform: scale(1.2, 1.2);
}

/* footer */
.footer-text {
  color: black;
  font-size: 17px;
  font-family: Georgia;
  opacity:0.60;filter:alpha(opacity=60);
  text-align: center;
}

/* On small screens, set height to 'auto' for sidenav and grid */
@media screen and (max-width: 767px) {
  .sidenav {
    height: auto;
    padding: 15px;
  }
  .row.content {height: auto;}
}