{% extends '/base_template/base.html' %}


{% block metakeywords %}
    {{super()}}
    <meta name="description" content="About Hanker Zheng. 每个程序猿上辈子一定是一个强大的魔法师！Every programmer must be a powerful witzard in his last life!" />
    <meta property="og:type" content="website"/>
    <meta property="og:title" content="About Hanker Zheng. 每个程序猿上辈子一定是一个强大的魔法师！Every programmer must be a powerful witzard in his last life!"/>
    <meta property="og:description" content="About Hanker Zheng. 每个程序猿上辈子一定是一个强大的魔法师！Every programmer must be a powerful witzard in his last life!"/>
    <meta property="og:url" content="http://www.hankerzheng/about"/>
{% endblock %}


{% block title %}
    About - {{super()}}
{% endblock %}


{% block beforehead %}
    {{super()}}
    <script src="/static/js/showdown.min.js"></script>
    <script src="/static/js/highlight.pack.js"></script>
    <link rel="stylesheet" href="/static/css/github.css">
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}


{% block content %}
<h3 class="archive-header">ABOUT ME</h3>
<div class="archive-post blog-content">
</div>
<div id="disqus_thread"></div>

<script>
    var disqus_config = function () {
        this.page.url = "http://www.hankerzheng.com/about";
        this.page.identifier = "about";
    };
    (function() {
        var d = document, s = d.createElement('script');        
        s.src = '//hankerzhengs.disqus.com/embed.js';        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

{% endblock %}


{% block funcript %}
    {{super()}}
<script type="text/javascript">
    navactive = document.getElementById("about");
    navactive.className = "active";
    $.get('/static/about.txt', function(data, status){
        var converter = new showdown.Converter({'literalMidWordUnderscores': true, 'strikethrough':true})
        $(".blog-content").html(converter.makeHtml(data));
    });
    $('pre code').each(function(i, block) {
      hljs.highlightBlock(block);
    });
    $(document).ready(function(){
        $(".archive-post").fadeIn(1500);
    });
</script>
{% endblock %}