{% extends '/base_template/left_right.html' %}


{% block metakeywords %}
    {{super()}}
    <meta name="description" content="{{blog.summary}}" />
    <meta property="og:type" content="article"/>
    <meta property="og:title" content="{{blog.title}}"/>
    <meta property="og:description" content="{{blog.summary}}"/>
    <meta property="og:url" content="http://www.hankerzheng/blog/{{blog.id}}"/>
{% endblock %}


{% block title %}
	{{blog.title}} - {{super()}}
{% endblock %}


{% block beforehead %}
    {{super()}}
    <script src="/static/js/showdown.min.js"></script>
    <script src="/static/js/highlight.pack.js"></script>
    <link rel="stylesheet" href="/static/css/github.css">
    <script>hljs.initHighlightingOnLoad();</script>
{% endblock %}


{% block left_content %}
<div class="blog-post">
    <h1 class="blog-title"><a href="/blog/{{ blog.id }}">
        {{ blog.title }}
    </a></h1>
    <div class="blog-meta">
        <i class="fa fa-clock-o" aria-hidden="true"></i> {{blog.created_at | datetime}}
        &nbsp;&nbsp;&nbsp;&nbsp;<i class="fa fa-tag" aria-hidden="true"></i> 
        <span class="blog-tags">{{blog.tags}}</span>
    </div>
    <div class="meta-seperator"></div>
        <article class="blog-content">{{ blog.content }}</article>
    <div class="blog-seperator"></div>
</div>
<div id="disqus_thread"></div>
<script>
    var disqus_config = function () {
        this.page.url = "http://www.hankerzheng.com/blog/{{blog.id}}"
        this.page.identifier = "{{ blog.id }}";
    };
    (function() {
        var d = document, s = d.createElement('script');        
        s.src = '//hankerzhengs.disqus.com/embed.js';        
        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>
{% endblock %}


{% block funcript %}
    {{super()}}
<script type="text/javascript">
    navactive = document.getElementById("blogs")
    navactive.className = "active"
    $(function(){
        var txt = $(".blog-content").text();
        var converter = new showdown.Converter({'literalMidWordUnderscores': true, 'strikethrough':true})
        $(".blog-content").html(converter.makeHtml(txt));
        $('pre code').each(function(i, block) {
          hljs.highlightBlock(block);
        });
        $('.blog-tags').each(function(){
            var info = $(this).text();
            info = JSON.parse(info);
            thisHtml = "";
            for (i=0; i<info.length; i++){
                thisHtml += '<a href="/tags/'
                thisHtml += info[i] + '">#'
                thisHtml += info[i] + '</a>&nbsp;&nbsp;';
            }
            $(this).html(thisHtml);
        });
    });
</script>
{% endblock %}