{% extends '/base_template/left_right.html' %}


{% block metakeywords %}
{% endblock %}


{% block title %}
	{{blog.title}} - {{super()}}
{% endblock %}


{% block beforehead %}
{% endblock %}


{% block content %}
	<div class="blog-post">
		<h2 class="blog-post-title">{{ blog.title }}</h2>
		<h4 class="blog-post-meta">{{ blog.created_at|datetime }}</h4>
		<div>{{ blog.content | safe }}</div>
		</div>
{% endblock %}


{% block funcript %}
<script type="text/javascript">
    navactive = document.getElementById("blogs")
    navactive.className = "active"
    $(function(){
        var txt = $(".blog-post div").text();
        var converter = new showdown.Converter()
        $(".blog-post div").html(converter.makeHtml(txt));
    });
</script>
{% endblock %}