{% extends '/base_template/base.html' %}


{% block metakeywords %}
{% endblock %}


{% block title %}
    {{super()}} Home
{% endblock %}


{% block beforehead %}
{% endblock %}


{% block content %}
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
{% endblock %}


{% block funcript %}
{% endblock %}