{% extends '/base_template/base.html' %}


{% block metakeywords %}
    {{super()}}
{% endblock %}


{% block title %}
    {{super()}} Home
{% endblock %}


{% block beforehead %}
    {{super()}}
{% endblock %}


{% block content %}
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
<p>some content here</p>
{% endblock %}


{% block funcript %}
    {{super()}}
{% endblock %}