{% extends '/base_template/left_right.html' %}


{% block metakeywords %}
    {{super()}}
{% endblock %}


{% block title %}
    Photographs - {{super()}}
{% endblock %}


{% block beforehead %}
    {{super()}}
{% endblock %}


{% block left_content %}
<ul class="photo-gallery">
    {% for photo in photos %}
    <li class="photo-item col-lg-4 col-md-4 col-sm-4 col-xs-6 col-xxs-6" data-bsp-li-index="{{loop.index0}}">
    <div class="imgWrapper">
        <img class="img-responsive" alt='{{ photo.title }}' myTitle='{{ photo.descript }}'  src='{{ photo.path }}'>
    </div></li>
    {% endfor %}
</ul>

{% if page.page_count > 1 %}
<nav id="myPagination">
  <ul class="pagination">
    <li class="{{'disabled' if page.page_index==1 else ''}}">
        <a href="?page={{page.page_index - 1}}">&laquo;
    </a></li>
    {% for x in range(page.page_count) %}
        {% if (x+1) == page.page_index %}
            <li class="active">
        {% else %}
            <li>
        {% endif %}
                <a href="?page={{x+1}}">{{x+1}}</a>
            </li>
    {% endfor %}    
    <li class="{{'disabled' if page.page_index==page.page_count else ''}}">
        <a href="?page={{page.page_index + 1}}">&raquo;
    </a></li>
  </ul>
</nav>
{% endif %}
{% endblock %}


{% block funcript %}
    {{super()}}
<!-- modal -->
<div class="modal fade" id="bsPhotoGalleryModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-body">
                <span class="glyphicon glyphicon-remove-circle" data-dismiss="modal"></span>
                <img class="img-responsive">
                <div class="bsp-text-container">
                </div>
                <a class="bsp-controls next" data-bsp-id="generateId"><span class="glyphicon glyphicon-chevron-right"></span></a>
                <a class="bsp-controls previous" data-bsp-id="generateId"><span class="glyphicon glyphicon-chevron-left"></span></a>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="/static/js/jQuery.bsPhotoGallery.js"></script>
<link rel="stylesheet" href="/static/css/jQuery.bsPhotoGallery.css">
<script type="text/javascript">
    navactive = document.getElementById("photos")
    navactive.className = "active"
    $("#myPagination li a").attr("href", function(i, origValue){
        return window.location.pathname+origValue;
    });
    $('ul.photo-gallery').bsPhotoGallery();
    var imgBlock = $(".imgWrapper")
    imgBlock.css("height", imgBlock.width()*0.6)
    $(window).on('resize', function() {
        var imgBlock = $(".imgWrapper")
        imgBlock.css("height", imgBlock.width()*0.6)
    });
</script>
{% endblock %}